@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- Main image area -->
    <div class="row">
        <div class="col-12 my-1">
            <div class="image-banner">
                <img class="banner-img img-fluid" src="~/images/MainPage.jpg" alt="Sale banner" />
            </div>
        </div>
    </div>

    <!-- Categories section -->
    <div class="row text-center my-5">
        <div class="col-12">
            <h3 class="section-title">CATEGORIES</h3>
        </div>
        <!-- Category placeholders -->
        <div class="col-6 col-sm-4 col-md-3 my-3">
            <div class="category-card">
                <img src="~/images/menblazer.jpg" alt="Men's Blazer" class="category-img img-fluid" />
                <div class="category-label">Men's Blazer</div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 my-3">
            <div class="category-card">
                <img src="~/images/girls.jpg" alt="Women's Dresses" class="category-img img-fluid" />
                <div class="category-label">Women's Dresses</div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 my-3">
            <div class="category-card">
                <img src="~/images/kids.jpg" alt="Kids Wear" class="category-img img-fluid" />
                <div class="category-label">Kids Wear</div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 my-3">
            <div class="category-card">
                <img src="~/images/footwear.png" alt="Footwear" class="category-img img-fluid" />
                <div class="category-label">Footwear</div>
            </div>
        </div>
    </div>
</div>
